name: FileSystem

on:
  push:
    branches:
      - main
  pull_request: {}

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  MISE_EXPERIMENTAL: "1"

concurrency:
  group: file-system-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  build:
    name: "Release build on macOS"
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
      - run: sudo xcode-select -s /Applications/Xcode_16.3.app
      - uses: jdx/mise-action@v2
      - name: Run
        run: mise run build-spm

  build-linux:
    name: "Release build on Linux"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: swift-actions/setup-swift@v2
        with:
          swift-version: "6.1"
      - uses: jdx/mise-action@v2
      - name: Run
        run: mise run build-linux

  test:
    name: "Test on macOS"
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
      - run: sudo xcode-select -s /Applications/Xcode_16.3.app
      - uses: jdx/mise-action@v2
      - name: Run
        run: mise run test-spm

  test_linux:
    name: "Test on Linux"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: swift-actions/setup-swift@v2
        with:
          swift-version: "6.1"
      - uses: jdx/mise-action@v2
      - name: Run
        run: mise run test-linux

  lint:
    name: Lint
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
      - run: sudo xcode-select -s /Applications/Xcode_16.3.app
      - uses: jdx/mise-action@v2
      - name: Run
        run: mise run lint
