name: FileSystem

on:
  push:
    branches:
      - main
  pull_request: {}
  workflow_dispatch: {}

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  MISE_EXPERIMENTAL: "1"

concurrency:
  group: file-system-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  build:
    name: "Release build on macOS"
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6
      - run: sudo xcode-select -s /Applications/Xcode_16.3.app
      - uses: jdx/mise-action@v3
      - name: Run
        run: mise run build-spm

  build-linux:
    name: "Release build on Linux"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      - name: Run
        run: mise run build-linux

  test:
    name: "Test on macOS"
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6
      - run: sudo xcode-select -s /Applications/Xcode_16.3.app
      - uses: jdx/mise-action@v3
      - name: Run
        run: mise run test-spm

  test_linux:
    name: "Test on Linux"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      - name: Run
        run: mise run test-linux

  build-windows:
    name: "Release build on Windows"
    runs-on: windows-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v6
      - uses: compnerd/gha-setup-swift@main
        with:
          branch: swift-6.0.3-release
          tag: 6.0.3-RELEASE
      - name: Build
        run: swift build --configuration release

  test-windows:
    name: "Test on Windows"
    runs-on: windows-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6
      - uses: compnerd/gha-setup-swift@main
        with:
          branch: swift-6.0.3-release
          tag: 6.0.3-RELEASE
      - name: Test
        run: swift test

  lint:
    name: Lint
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6
      - run: sudo xcode-select -s /Applications/Xcode_16.3.app
      - uses: jdx/mise-action@v3
      - name: Run
        run: mise run lint
