name: FileSystem

on:
  push:
    branches:
      - main
  pull_request: {}

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  MISE_EXPERIMENTAL: "1"

concurrency:
  group: file-system-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  build:
    name: "Release build on macOS"
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6
      - run: sudo xcode-select -s /Applications/Xcode_16.3.app
      - uses: jdx/mise-action@v3
      - name: Run
        run: mise run build-spm

  build-linux:
    name: "Release build on Linux"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      - name: Run
        run: mise run build-linux

  test:
    name: "Test on macOS"
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6
      - run: sudo xcode-select -s /Applications/Xcode_16.3.app
      - uses: jdx/mise-action@v3
      - name: Run
        run: mise run test-spm

  test_linux:
    name: "Test on Linux"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      - name: Run
        run: mise run test-linux

  build-windows:
    name: "Release build on Windows"
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Swift
        run: |
          winget install --id Swift.Toolchain --exact --accept-source-agreements --accept-package-agreements
          echo "$env:ProgramFiles\Swift\Toolchains\6.1.0+Asserts\usr\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
          echo "$env:ProgramFiles\Swift\Platforms\6.1.0\Windows.platform\Developer\SDKs\Windows.sdk\usr\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
          echo "$env:ProgramFiles\Swift\Platforms\6.1.0\Windows.platform\Developer\Library\XCTest-development\usr\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
          echo "$env:ProgramFiles\Swift\Runtimes\6.1.0\usr\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
      - name: Build
        run: swift build --configuration release

  test-windows:
    name: "Test on Windows"
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Swift
        run: |
          winget install --id Swift.Toolchain --exact --accept-source-agreements --accept-package-agreements
          echo "$env:ProgramFiles\Swift\Toolchains\6.1.0+Asserts\usr\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
          echo "$env:ProgramFiles\Swift\Platforms\6.1.0\Windows.platform\Developer\SDKs\Windows.sdk\usr\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
          echo "$env:ProgramFiles\Swift\Platforms\6.1.0\Windows.platform\Developer\Library\XCTest-development\usr\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
          echo "$env:ProgramFiles\Swift\Runtimes\6.1.0\usr\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
      - name: Test
        run: swift test

  lint:
    name: Lint
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6
      - run: sudo xcode-select -s /Applications/Xcode_16.3.app
      - uses: jdx/mise-action@v3
      - name: Run
        run: mise run lint
